.App {
  text-align: center;
}

.App-header {
  padding-left: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  background-color: darkcyan;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 5px;
  margin: 5;
  width: auto;
}

.check-out {
  font-size: 2rem;
  width: 90%;
  border-radius: 5px;
  margin: 10px;
}

.checker {
  color: black;
  width: 10rem;
  height: 3rem;
}

.item-text {
  padding-left: 10px;
}

.purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3 {
  padding-bottom: 15px;
}

.cart {
  width: 90%;
}