.App {
  text-align: center;
}

.App-header {
  padding-left: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  background-color: darkcyan;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin: 10px;
}

.check-out {
  font-size: 2rem;
  width: 90%;
  border-radius: 5px;
  margin: 10px;
}

.checker {
  width: 2rem;
  height: 2rem;
}

.item-text {
   padding-left: 10px;
}

.purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.history {
  margin-left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h3 {
  padding-bottom: 15px;
}